* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: Arial;
  background-color: #d14836;
  color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
}

header h1 {
  font-size: 70px;
}

header p {
  font-size: 30px;
}

.main-content {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Verdana;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 98%;
  padding: 20px;
}

.stylesheets-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.stylesheets-navigation nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.stylesheets-navigation nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 170px;
  height: 35px;
  font-size: 18px;
  background-color: #d14836;
  border: 1px solid #d14836;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
}

/* Khusus untuk StyleSheet 2, karena posisi page saat ini ada di StyleSheet 2 */
.stylesheets-navigation nav ul li:nth-child(2) {
  font-weight: bold;
  background-color: #ffffff;
  color: #d14836;
}

.stylesheets-navigation nav ul li:hover {
  background-color: #ffffff;
  color: #d14836;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.stylesheets .content,
.no-styles .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stylesheets .content h2 {
  color: #d14836;
  font-size: 32px;
}

.stylesheets ul li {
  display: inline;
  list-style-type: none;
}

.stylesheets ul li a,
.no-styles a {
  text-decoration: none;
  color: #d14836;
}

.no-styles h2 {
  color: #d14836;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d14836;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #f6dad7;
  width: 98%;
  padding: 20px;
  gap: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
